<div class="row">
<div class="logoContain text-center">
	<%= image_tag(yield(:logo_la_haut), class: "logo") %>
	<!-- %= image_tag(yield(:_logo), class: "logo") %> -->
 </div>
</div>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
	<li class="<%= yield(:fourchette)%>"><%= link_to "La cantine de Clémentine", fourchette_path %></li>
        <li class="<%= yield(:grelinette)%>"><%= link_to "Les légumes d'Adrien", grelinette_path %></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
